*{
    box-sizing:border-box;
}
.main-container{
    background-color: blue;
    padding: 10px;
    height:600px;
    display: flex;
    flex-direction: column;
}

    .top{
        background-color: aquamarine;
        height: 20%;
        display: flex;
        gap: 10px;
    }
    .top-item{
        background-color: lightcoral;
        width: 100%;
    }

    .bottom{
        background-color: bisque;
        height: 80%;
        display:flex;
    }

    .left{
        background-color: brown;
        width: 50%;
    }

    .right{
        background-color: rebeccapurple;
        width: 50%;
    }