*{
    box-sizing:border-box;
}

body{
   
    display: grid;
    background-image: url(background.png);
    grid-template-columns: repeat(5, auto);
    gap:20px;
    padding:20px
}

.pig, .horse, .cow, .goat, .chicken, .sheep,
.donkey, .rabbit, .duck, .snakes, .turkey, .panda {
    border: 2px solid whitesmoke;
    padding: 10px;
    height: 150px; /* same height for all */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
}


.pig{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 300px;
    height: 200px;
    margin: 0px
    
}

.pig img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}

.horse{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 300px;
    height: 400px;
    margin: 0px
}

.horse img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.cow{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 450px;
    height: 400px;
    margin: 0px
}
.cow img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.chicken{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 300px;
    height: 200px;
    margin: 0px
}
.chicken img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.sheep{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 600px;
    height: 300px;
    margin: 0px
}
.sheep img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}

.goat{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 400px;
    height: 500px;
    margin: 0px
}

.goat img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.donkey{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 200px;
    height: 500px;
    margin: 0px
}
.donkey img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.rabbit{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 200px;
    height: 100px;
    margin: 0px
}
.rabbit img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.duck{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 450px;
    height: 400px;
    margin: 0px
}
.duck img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}

.snakes{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 100px;
    height: 200px;
    margin: 0px
}
.snakes img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}


.turkey{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 300px;
    height: 300px;
    margin: 0px
}
.turkey img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}

.panda{
    border:2px solid whitesmoke;
    padding: 10px;
    width: 700px;
    height: 700px;
    margin: 0px
}
.panda img{
    max-width: 100%;
    max-height:100%;
    object-fit: contain;

}



