*{
    box-sizing:border-box;
}

body{
    margin:0;
}

.box{
 background-color: lightgrey;
    width:200px;
    height:200px;
   /* animation-name: test;
    animation-duration: 4s;
    animation delay: 2s;
    animation-iteration-count:3;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-fill-mode:both;*/

    animation: test 4s 2s infinite linear alternate both;
}

@keyframes test {
    0% {
        background-color: red ;
        height:200px;
    }
    100% {
        background-color: yellow;
        height:400px;
    }
}

body{
    margin:0;
}

.container {
    background-color: lightpink;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    position:relative;  
    overflow : hidden;

    animation: blink 4s infinite alternate;
}

@keyframes blink{
    0%{
        scale:1 1;
        

    }
    100% {
        scale:1 0;
        
    }
}

.circle {
    background-color: lightgray;
    width:100px;
    height:100px;
    border-radius:100%;
    animation: pulse 4s infinite alternate;
}

@keyframes pulse{
    0% {
        background-color: lightgray;
        scale:1;

    }
    50% {
        background-color: lightyellow;
        scale:2;

    }
    
}


.square{
    background-color: lightgray;
    width: 50px;
    height: 50px;
    animation:spin 4s infinite linear;
}

@keyframes spin{
    0% {
        rotate:0; 
        scale:1;
        
    }

    50% {
    scale:2;
    }
    100%{
       rotate:360deg;
        scale:1;

    }
}


.mover{
    background-color: lightgray;
    width:50px;
    height:50px;
   /* in rder for an absolutely position element, the container also needs to be given a position other than static */
    position:absolute;
    bottom:0;
    left:0;
    animation: move 4s infinite;
}

@keyframes move {
    0%{
        left:0;
    }
    100%{
        left:calc(100% - 50px);
        rotate:900deg;
    
    }


}

.changer {
    background: lightgray;
    width: 100px;
    height:100px;
    transition: background 2s, border-radius 2s,rotate 2s;
}

.changer:hover {
    background-color: red;
    border-radius:100%;
    rotate:150deg;

}