*{
    box-sizing:border-box;
}

.main {
    background: red;
}

body {
    margin:0;
}

.buttons{
    position:fixed;
    top:10px;
    left:10px;
}
.container {
    background: rgb(201, 222, 248);
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.container.dark{
    background: rgb(4, 66, 86);
}
.box {
    background: rgb(92, 103, 117);
    width:100px;
    height:100px;
    animation:spin 4s infinite linear;
    animation-play-state: paused;
}

.box.dark{
    background:rgb(36, 40, 44);
}

.box.spin{
    animation:spin 4s infinite linear; 
    animation-play-state: running;
}

@keyframes spin {
    0% {
        rotate:0;
    }
    100% {
        rotate:360deg;
    }


}

.cat {
    width: 100px;
    position:fixed;
    bottom:20px;
    right:10px;
    display:none;
    
}

.cat.reveal{
    display:block;
}